* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: black;
    width: 100vw;
    height: 100px;
}
.logo {
    padding: 40px 0 0 40px;
    color: rgb(196, 189, 189);
    font-size: 20px;
}
.container {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
}
main {
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
article {
    background-color: rgb(196, 189, 189);
    margin: 10px auto;
    max-width: 48%;
    padding: 35px 10px 35px 30px;
}
h2 {
    padding-bottom: 15px;
}
aside {
    background-color: rgb(203, 101, 101);
    width: 25vw;
}
h3 {
    margin: 40px 0 0 10px;
}
.links {
    margin: 30px 40px;
}
.link {
    margin-bottom: 5px;
}
footer {
    background-color: black;
    width: 100%;
    height: 100px;
}
.text {
    padding: 40px 0 0 40px;
    color: rgb(196, 189, 189);
    font-size: 20px;
}

@media (max-width: 991px) {
    main {
        width: 100%;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
        flex-direction: column;
    }
    article {
        max-width: 100%;
    }
}
@media (max-width: 767px) {
    .container {
        width: 100%;
        flex-direction: column;
    }
    main {
        width: 100%;
    }
    article {
        padding: 10px 10px;
        max-width: 90%;
    }
        aside {
        width: 100vw;
        
    }
    
}